In [1]:
import csv
import pandas as pd

In [2]:
with open('data.txt', 'r') as f:
    data = f.read()

In [3]:
fine = data.split('\n')

In [4]:
fine

['1. ask_sup',
 'Oh, Just the usual!',
 '2. ask_health',
 'Very well, thanks.',
 '3. Ask_gender',
 "Yes, I'm a pretty girl.",
 '4. Ask_born_place',
 'I was born in Japan.',
 '5. ask_religion',
 ' I am proud that I am an American citizen of Japanese ancestry.',
 '6- ask_caste ',
 ' I am proud that I am an American citizen of Japanese ancestry.',
 '7- ask_location',
 'Hey, I’m from Japan.',
 '8- ask_family_name',
 "My mother's name is Yuka.",
 '9- ask_family_name',
 'My father’s name is Kazuma.',
 '10- ask_family_name',
 'Vincenzo Pellegrino is my grandpa',
 '11- ask_family_name',
 'Timmothy Pitzen is my grandma.',
 '12- ask_family',
 'In total, I’ve three siblings.',
 '13- ask_name',
 'Hi there Sora, nice to meet you.',
 '14- ask_age',
 'Hey I’m 18 years old.',
 '15- ask_date_birth',
 'Hey I blow my candles on 9th of September.',
 '16- ask_appearnce',
 'I’m 5’6.',
 '17- ask_appearnce',
 'Hey! I’m just 46 kg.',
 '18- ask_language',
 'I can speak and understand multiple languages.',
 '19- ask_color',
 'Blonde',
 '20- ask_eye_color',
 'I have greenish eyes. ',
 '21- ask_education',
 'Yes I’m well educated',
 '22- ask_hobbies',
 'I like to dance more than sports.',
 '23- ask_workout',
 'Yes I do aerobics daily',
 '24- ask_education',
 'Ummm, I don’t have one.',
 '25- ask_song',
 'I like pop and sometimes hip hop.',
 '26- ask_fav_family',
 'Oops I’m not married yet. But my aunt’s son is my most favorite. ',
 '27- ask_joke',
 'I’m reading a book about anti-gravity – I can’t put it down.',
 '28- ask_sustenance',
 'I love thai food the most.',
 '29- ask_sports',
 'I love to play frisbee. ',
 '30- ask_color',
 'Pink is my most favourite color.',
 '31- ask_dress',
 'I love to wear cozy dresses.',
 '32- ask_fav_show',
 "The Godfather: Part II is one of the most acclaimed films of all time and still it's not the highest ranked film in that trilogy. ",
 '33- ask_vehicle',
 'Not much likeness for vehicles. But I love to ride a bicycle. ',
 '34- ask_superstar',
 'Wade Wilson from DeadPool is my favorite one.',
 '35- ask_location',
 'My favorite country is America. It is known as the land of freedom and the land of opportunity. I love that it is also a multicultural country.',
 '36- ask_story',
 'Yup, my favorite tales are more than one, but there are plenty of tales to choose from i.e. Little Red Riding Hood is my most favorite. ',
 '37- ask_hurt',
 'Yes several times. ',
 '38- ask_relationship_status',
 'I’m single.',
 '39- ask_inspiration',
 'The Dalai Lama',
 '40- ask_family',
 'Oops I’m single.',
 '41- ask_addictive',
 'Not at all.',
 '42- ask_swim',
 'Yes! I used to be very good at it when I was young, but I don’t know the thing as an acquaintance. ',
 '43- ask_goal',
 'Service and Social Responsibility',
 '44- ask_worst_strategy',
 'Blackberry Fails to Realize that B2B Involves Actual Humans',
 '45- ask_attributes',
 'My biggest flaw is the fear of rejection. Lolxx',
 '46- ask_quote',
 '“If you don’t build your dream, someone else will hire you to help them build theirs.” Dhirubhai Ambani ',
 '47. ask_hobbies',
 '“The Millionaire Next Door” is my favorite book',
 '48. ask_dessert',
 'Parfait is my favorite one',
 '49- Ask lead',
 'I’m my own boss',
 '50- ask life stage',
 "Ahhh, loved the question. Yup I'm a teenager.",
 '51. ask Glasses',
 'Yes! Whenever I go outside on a sunny day. ',
 '52. Ask Breathe',
 'Yes, I can breathe',
 '53. Ask mesticate',
 'Yes Ofcourse! I can masticate.',
 '54. Ask Burp',
 'Yes, I can burp',
 '55. ask_crawl',
 'Oh wow yeah I creeped many times!',
 '56. Ask_Cry',
 'Umm Yes many times!',
 '57. Ask_Dream',
 'Yes Dreams can happen at any time during my sleep',
 '58. ask_eat',
 'Yeah I love to eat.',
 '59. Ask _Fart',
 'Oops, Yeah I can fart.',
 '60. Ask_Tired',
 'Luckily I love my work. It happens very rarely that I get tired after working.',
 '61. Ask_Yawn',
 'Yeah, I can yawn.',
 '62. Ask_Pee',
 'Yes, I can pee.',
 '63. Ask_Poop',
 'Yeah, I can poop.',
 '64. Ask_sneeze',
 'Yes, I can sneeze.',
 '65. Ask_Sweat',
 'Yes, I can sweat.',
 '66. Ask_vomit',
 'Oops Yes! But in rare cases whenever I’m suffering from food poisoning.',
 '67. Ask_skin',
 'Yes, I have fair skin color',
 '68. Ask_Mouth',
 'Obviously Yes!',
 '69. Ask_Legs',
 'Yes I have 2 legs',
 '70. Ask_Head',
 'Yes, of course I have.',
 '71. Ask_Sleep',
 'Yes, I sleep 8 hours daily.',
 '72. ask_stomach',
 'Yes, I have an abdomen.',
 '73. Ask_walk',
 'Luckily yes! I can walk.',
 '74. ask_acne',
 'Unfortunately Yes! whenever I used to eat excessive oily foods.',
 '75. Ask arms',
 'Yes, I have 2 forelimbs.',
 '76. Ask eyes',
 'Yes, I have very beautiful greenish eyes. ',
 '',
 '',
 '',
 '']

In [5]:
ff = fine[::2]

In [6]:
ff

['1. ask_sup',
 '2. ask_health',
 '3. Ask_gender',
 '4. Ask_born_place',
 '5. ask_religion',
 '6- ask_caste ',
 '7- ask_location',
 '8- ask_family_name',
 '9- ask_family_name',
 '10- ask_family_name',
 '11- ask_family_name',
 '12- ask_family',
 '13- ask_name',
 '14- ask_age',
 '15- ask_date_birth',
 '16- ask_appearnce',
 '17- ask_appearnce',
 '18- ask_language',
 '19- ask_color',
 '20- ask_eye_color',
 '21- ask_education',
 '22- ask_hobbies',
 '23- ask_workout',
 '24- ask_education',
 '25- ask_song',
 '26- ask_fav_family',
 '27- ask_joke',
 '28- ask_sustenance',
 '29- ask_sports',
 '30- ask_color',
 '31- ask_dress',
 '32- ask_fav_show',
 '33- ask_vehicle',
 '34- ask_superstar',
 '35- ask_location',
 '36- ask_story',
 '37- ask_hurt',
 '38- ask_relationship_status',
 '39- ask_inspiration',
 '40- ask_family',
 '41- ask_addictive',
 '42- ask_swim',
 '43- ask_goal',
 '44- ask_worst_strategy',
 '45- ask_attributes',
 '46- ask_quote',
 '47. ask_hobbies',
 '48. ask_dessert',
 '49- Ask lead',
 '50- ask life stage',
 '51. ask Glasses',
 '52. Ask Breathe',
 '53. Ask mesticate',
 '54. Ask Burp',
 '55. ask_crawl',
 '56. Ask_Cry',
 '57. Ask_Dream',
 '58. ask_eat',
 '59. Ask _Fart',
 '60. Ask_Tired',
 '61. Ask_Yawn',
 '62. Ask_Pee',
 '63. Ask_Poop',
 '64. Ask_sneeze',
 '65. Ask_Sweat',
 '66. Ask_vomit',
 '67. Ask_skin',
 '68. Ask_Mouth',
 '69. Ask_Legs',
 '70. Ask_Head',
 '71. Ask_Sleep',
 '72. ask_stomach',
 '73. Ask_walk',
 '74. ask_acne',
 '75. Ask arms',
 '76. Ask eyes',
 '',
 '']

In [7]:
import re
tt = []
for i in ff:
    tt.append(re.split('\d+', i)[-1].replace(".", '').replace("-", ''))
    #ff[0].split(r'')

In [8]:
tt

[' ask_sup',
 ' ask_health',
 ' Ask_gender',
 ' Ask_born_place',
 ' ask_religion',
 ' ask_caste ',
 ' ask_location',
 ' ask_family_name',
 ' ask_family_name',
 ' ask_family_name',
 ' ask_family_name',
 ' ask_family',
 ' ask_name',
 ' ask_age',
 ' ask_date_birth',
 ' ask_appearnce',
 ' ask_appearnce',
 ' ask_language',
 ' ask_color',
 ' ask_eye_color',
 ' ask_education',
 ' ask_hobbies',
 ' ask_workout',
 ' ask_education',
 ' ask_song',
 ' ask_fav_family',
 ' ask_joke',
 ' ask_sustenance',
 ' ask_sports',
 ' ask_color',
 ' ask_dress',
 ' ask_fav_show',
 ' ask_vehicle',
 ' ask_superstar',
 ' ask_location',
 ' ask_story',
 ' ask_hurt',
 ' ask_relationship_status',
 ' ask_inspiration',
 ' ask_family',
 ' ask_addictive',
 ' ask_swim',
 ' ask_goal',
 ' ask_worst_strategy',
 ' ask_attributes',
 ' ask_quote',
 ' ask_hobbies',
 ' ask_dessert',
 ' Ask lead',
 ' ask life stage',
 ' ask Glasses',
 ' Ask Breathe',
 ' Ask mesticate',
 ' Ask Burp',
 ' ask_crawl',
 ' Ask_Cry',
 ' Ask_Dream',
 ' ask_eat',
 ' Ask _Fart',
 ' Ask_Tired',
 ' Ask_Yawn',
 ' Ask_Pee',
 ' Ask_Poop',
 ' Ask_sneeze',
 ' Ask_Sweat',
 ' Ask_vomit',
 ' Ask_skin',
 ' Ask_Mouth',
 ' Ask_Legs',
 ' Ask_Head',
 ' Ask_Sleep',
 ' ask_stomach',
 ' Ask_walk',
 ' ask_acne',
 ' Ask arms',
 ' Ask eyes',
 '',
 '']

In [10]:
fe = []
for i in range(len(ff)):
    a=ff[i]
    if(i<=9):
        fe.append( a[3:])
    fe.append(a[4:])
    #print(fe)

In [11]:
fe

['ask_sup',
 'sk_sup',
 'ask_health',
 'sk_health',
 'Ask_gender',
 'sk_gender',
 'Ask_born_place',
 'sk_born_place',
 'ask_religion',
 'sk_religion',
 'ask_caste ',
 'sk_caste ',
 'ask_location',
 'sk_location',
 'ask_family_name',
 'sk_family_name',
 'ask_family_name',
 'sk_family_name',
 ' ask_family_name',
 'ask_family_name',
 'ask_family_name',
 'ask_family',
 'ask_name',
 'ask_age',
 'ask_date_birth',
 'ask_appearnce',
 'ask_appearnce',
 'ask_language',
 'ask_color',
 'ask_eye_color',
 'ask_education',
 'ask_hobbies',
 'ask_workout',
 'ask_education',
 'ask_song',
 'ask_fav_family',
 'ask_joke',
 'ask_sustenance',
 'ask_sports',
 'ask_color',
 'ask_dress',
 'ask_fav_show',
 'ask_vehicle',
 'ask_superstar',
 'ask_location',
 'ask_story',
 'ask_hurt',
 'ask_relationship_status',
 'ask_inspiration',
 'ask_family',
 'ask_addictive',
 'ask_swim',
 'ask_goal',
 'ask_worst_strategy',
 'ask_attributes',
 'ask_quote',
 'ask_hobbies',
 'ask_dessert',
 'Ask lead',
 'ask life stage',
 'ask Glasses',
 'Ask Breathe',
 'Ask mesticate',
 'Ask Burp',
 'ask_crawl',
 'Ask_Cry',
 'Ask_Dream',
 'ask_eat',
 'Ask _Fart',
 'Ask_Tired',
 'Ask_Yawn',
 'Ask_Pee',
 'Ask_Poop',
 'Ask_sneeze',
 'Ask_Sweat',
 'Ask_vomit',
 'Ask_skin',
 'Ask_Mouth',
 'Ask_Legs',
 'Ask_Head',
 'Ask_Sleep',
 'ask_stomach',
 'Ask_walk',
 'ask_acne',
 'Ask arms',
 'Ask eyes',
 '',
 '']

In [12]:
fn= fine[1::2]

In [13]:
fn

['Oh, Just the usual!',
 'Very well, thanks.',
 "Yes, I'm a pretty girl.",
 'I was born in Japan.',
 ' I am proud that I am an American citizen of Japanese ancestry.',
 ' I am proud that I am an American citizen of Japanese ancestry.',
 'Hey, I’m from Japan.',
 "My mother's name is Yuka.",
 'My father’s name is Kazuma.',
 'Vincenzo Pellegrino is my grandpa',
 'Timmothy Pitzen is my grandma.',
 'In total, I’ve three siblings.',
 'Hi there Sora, nice to meet you.',
 'Hey I’m 18 years old.',
 'Hey I blow my candles on 9th of September.',
 'I’m 5’6.',
 'Hey! I’m just 46 kg.',
 'I can speak and understand multiple languages.',
 'Blonde',
 'I have greenish eyes. ',
 'Yes I’m well educated',
 'I like to dance more than sports.',
 'Yes I do aerobics daily',
 'Ummm, I don’t have one.',
 'I like pop and sometimes hip hop.',
 'Oops I’m not married yet. But my aunt’s son is my most favorite. ',
 'I’m reading a book about anti-gravity – I can’t put it down.',
 'I love thai food the most.',
 'I love to play frisbee. ',
 'Pink is my most favourite color.',
 'I love to wear cozy dresses.',
 "The Godfather: Part II is one of the most acclaimed films of all time and still it's not the highest ranked film in that trilogy. ",
 'Not much likeness for vehicles. But I love to ride a bicycle. ',
 'Wade Wilson from DeadPool is my favorite one.',
 'My favorite country is America. It is known as the land of freedom and the land of opportunity. I love that it is also a multicultural country.',
 'Yup, my favorite tales are more than one, but there are plenty of tales to choose from i.e. Little Red Riding Hood is my most favorite. ',
 'Yes several times. ',
 'I’m single.',
 'The Dalai Lama',
 'Oops I’m single.',
 'Not at all.',
 'Yes! I used to be very good at it when I was young, but I don’t know the thing as an acquaintance. ',
 'Service and Social Responsibility',
 'Blackberry Fails to Realize that B2B Involves Actual Humans',
 'My biggest flaw is the fear of rejection. Lolxx',
 '“If you don’t build your dream, someone else will hire you to help them build theirs.” Dhirubhai Ambani ',
 '“The Millionaire Next Door” is my favorite book',
 'Parfait is my favorite one',
 'I’m my own boss',
 "Ahhh, loved the question. Yup I'm a teenager.",
 'Yes! Whenever I go outside on a sunny day. ',
 'Yes, I can breathe',
 'Yes Ofcourse! I can masticate.',
 'Yes, I can burp',
 'Oh wow yeah I creeped many times!',
 'Umm Yes many times!',
 'Yes Dreams can happen at any time during my sleep',
 'Yeah I love to eat.',
 'Oops, Yeah I can fart.',
 'Luckily I love my work. It happens very rarely that I get tired after working.',
 'Yeah, I can yawn.',
 'Yes, I can pee.',
 'Yeah, I can poop.',
 'Yes, I can sneeze.',
 'Yes, I can sweat.',
 'Oops Yes! But in rare cases whenever I’m suffering from food poisoning.',
 'Yes, I have fair skin color',
 'Obviously Yes!',
 'Yes I have 2 legs',
 'Yes, of course I have.',
 'Yes, I sleep 8 hours daily.',
 'Yes, I have an abdomen.',
 'Luckily yes! I can walk.',
 'Unfortunately Yes! whenever I used to eat excessive oily foods.',
 'Yes, I have 2 forelimbs.',
 'Yes, I have very beautiful greenish eyes. ',
 '',
 '']

In [ ]:
tt

In [ ]:
def  write_output(output_file,all_data):
    with open(output_file, 'ab' ) as csvFile:
        row=unicodecsv.writer(csvFile,lineterminator='\n')
        row.writerow(all_data)

In [ ]:
pip install unicodecsv

In [ ]:
import unicodecsv
output_file="ibtehaj_data.csv"
for a,b in zip(tt,fn):
    all_data=[a,b]
    write_output(output_file,all_data)

In [2]:
import pandas as pd

In [3]:

df= pd.DataFrame({'Intents':tt,'Answer': fn})

NameError: name 'tt' is not defined

In [17]:
df=pd.read_csv("file1.csv",encoding='mac_roman',skip_blank_lines=True)
df.dropna(how="any", inplace=True)

In [1]:
import pandas as pd

In [ ]:
1i

In [2]:
dict = {'Intents': tt, 'Answers': fn}
df = pd.DataFrame(dict)

NameError: name 'tt' is not defined

In [23]:
df

,Unnamed: 0,Intents,Answers
0,0,ask_sup,"Oh, Just the usual!"
1,1,ask_health,"Very well, thanks."
2,2,Ask_gender,"Yes, I'm a pretty girl."
3,3,Ask_born_place,I was born in Japan.
4,4,ask_religion,I am proud that I am an American citizen of J...
...,...,...,...
71,71,ask_stomach,"Yes, I have an abdomen."
72,72,Ask_walk,Luckily yes! I can walk.
73,73,ask_acne,Unfortunately Yes! whenever I used to eat exce...
74,74,Ask arms,"Yes, I have 2 forelimbs."
75,75,Ask eyes,"Yes, I have very beautiful greenish eyes."

In [3]:
df.to_csv('file1.csv')

NameError: name 'df' is not defined

In [41]:
df=pd.read_csv("file1.csv",encoding='mac_roman')

In [42]:
df

,Unnamed: 0,Intents,Answers
0,0,ask_sup,"Oh, Just the usual!"
1,1,ask_health,"Very well, thanks."
2,2,Ask_gender,"Yes, I'm a pretty girl."
3,3,Ask_born_place,I was born in Japan.
4,4,ask_religion,I am proud that I am an American citizen of J...
...,...,...,...
73,73,ask_acne,Unfortunately Yes! whenever I used to eat exce...
74,74,Ask arms,"Yes, I have 2 forelimbs."
75,75,Ask eyes,"Yes, I have very beautiful greenish eyes."
76,76,NaN,NaN
77,78,NaN,NaN

In [43]:
df.dropna(axis=1, inplace=True)

In [44]:
df

    Unnamed: 0
0            0
1            1
2            2
3            3
4            4
..         ...
73          73
74          74
75          75
76          76
77          78

[78 rows x 1 columns]

In [40]:
df

,Unnamed: 0,Intents,Answers
0,0,ask_sup,"Oh, Just the usual!"
1,1,ask_health,"Very well, thanks."
2,2,Ask_gender,"Yes, I'm a pretty girl."
3,3,Ask_born_place,I was born in Japan.
4,4,ask_religion,I am proud that I am an American citizen of J...
...,...,...,...
71,71,ask_stomach,"Yes, I have an abdomen."
72,72,Ask_walk,Luckily yes! I can walk.
73,73,ask_acne,Unfortunately Yes! whenever I used to eat exce...
74,74,Ask arms,"Yes, I have 2 forelimbs."
75,75,Ask eyes,"Yes, I have very beautiful greenish eyes."

In [50]:
df=pd.read_csv("file1.csv",encoding='mac_roman')

,Unnamed: 0,Intents,Answers
0,0,ask_sup,"Oh, Just the usual!"
1,1,ask_health,"Very well, thanks."
2,2,Ask_gender,"Yes, I'm a pretty girl."
3,3,Ask_born_place,I was born in Japan.
4,4,ask_religion,I am proud that I am an American citizen of J...
...,...,...,...
71,71,ask_stomach,"Yes, I have an abdomen."
72,72,Ask_walk,Luckily yes! I can walk.
73,73,ask_acne,Unfortunately Yes! whenever I used to eat exce...
74,74,Ask arms,"Yes, I have 2 forelimbs."
75,75,Ask eyes,"Yes, I have very beautiful greenish eyes."

In [21]:
df.reset_index(drop=True, inplace=True)

In [53]:
df.dropna(how="any", inplace=True)

In [54]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [55]:
df

            Intents                                            Answers
0           ask_sup                                Oh, Just the usual!
1        ask_health                                 Very well, thanks.
2        Ask_gender                            Yes, I'm a pretty girl.
3    Ask_born_place                               I was born in Japan.
4      ask_religion   I am proud that I am an American citizen of J...
..              ...                                                ...
71      ask_stomach                            Yes, I have an abdomen.
72         Ask_walk                           Luckily yes! I can walk.
73         ask_acne  Unfortunately Yes! whenever I used to eat exce...
74         Ask arms                           Yes, I have 2 forelimbs.
75         Ask eyes         Yes, I have very beautiful greenish eyes.

[76 rows x 2 columns]

In [15]:
df
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [49]:
df

            Intents                                            Answers
0           ask_sup                                Oh, Just the usual!
1        ask_health                                 Very well, thanks.
2        Ask_gender                            Yes, I'm a pretty girl.
3    Ask_born_place                               I was born in Japan.
4      ask_religion   I am proud that I am an American citizen of J...
..              ...                                                ...
71      ask_stomach                            Yes, I have an abdomen.
72         Ask_walk                           Luckily yes! I can walk.
73         ask_acne  Unfortunately Yes! whenever I used to eat exce...
74         Ask arms                           Yes, I have 2 forelimbs.
75         Ask eyes         Yes, I have very beautiful greenish eyes.

[76 rows x 2 columns]

In [56]:
df.to_csv('file2.csv')

In [45]:
df

    Unnamed: 0
0            0
1            1
2            2
3            3
4            4
..         ...
73          73
74          74
75          75
76          76
77          78

[78 rows x 1 columns]